// Fonts --------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Ubuntu');

.font1{
  font-family: 'Ubuntu', sans-serif;
}
.font2 {
  font-family: 'Source Sans Pro', sans-serif;
}

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}


//Colors --------------------------------------------------------------------
.color1 {
  color: #311847;
}
$color1: #311847;

.color2 {
  color: #e93e43;
}
$color2: #e93e43;

$colorGradient1: rgba(134,11,180,0.8);
$colorGradient2: rgba(230,20,100,0.8);
.transition1{
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.transition2{
  transition: all 1s;
  -webkit-transition: all 1s;
}

// Body --------------------------------------------------------------------
body {
  @extend .font1;
  padding: 0;
  margin: 0;
  // background-color: red;
  font-size: 16px;
}
div {
  padding: 0;
  margin: 0;
}

// Background Image --------------------------------------------------------------------
.backgroundImage {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 1;
  z-index: -2;
  background-image: url("../images/richardCollageWide01.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

// Reusable General Stuff --------------------------------------------------------------------
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.transition0{
  transition: all 1s;
  -webkit-transition: all 1s;
  // -webkit-backface-visibility: hidden; //Webkit fix
  // transform: translate3d(0px,0px,0px); //Firefox fix
}
.transition1{
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  // -webkit-backface-visibility: hidden; //Webkit fix
  // transform: translate3d(0px,0px,0px); //Firefox fix
}
.transition1Size{
  transition: font-size 0.2s;
  -webkit-transition: font-size 0.2s;
  -webkit-backface-visibility: hidden; //Webkit fix
  transform: translate3d(0px,0px,0px); //Firefox fix
}

.transition2{
  transition: all 1s;
  -webkit-transition: all 1s;
  -webkit-backface-visibility: hidden; //Webkit fix
  transform: translate3d(0px,0px,0px); //Firefox fix
}
.transition3{
  transition: all 2s;
  -webkit-transition: all 2s;
  -webkit-backface-visibility: hidden; //Webkit fix
  transform: translate3d(0px,0px,0px); //Firefox fix
}
.transition4{
  transition: all 1s;
  -webkit-transition: all 1s;
  transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  -webkit-backface-visibility: hidden; //Webkit fix
  transform: translate3d(0px,0px,0px); //Firefox fix
}
.transition5{
  transition: all 2s;
  -webkit-transition: all 2s;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -webkit-backface-visibility: hidden; //Webkit fix
  transform: translate3d(0px,0px,0px); //Firefox fix
}

.shadowFull {
  box-shadow: 10px 10px 10px rgba(0,0,0,.35), -10px -10px 10px rgba(0,0,0,.35);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 90%;
  max-width: 1024px;
  // height: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 1px white solid;
}

// HomePage --------------------------------------------------------------------

.mainContainer {
  @extend .flex;
  width: 100%;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, $colorGradient1 , $colorGradient2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $colorGradient1, $colorGradient2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $colorGradient1, $colorGradient2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, $colorGradient1 , $colorGradient2); /* Standard syntax */
  margin-left: auto;
  margin-right: auto;
  // padding-top: 100px;
  padding-bottom: 50px;
}

.section0 {
  @extend.flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100px;
  background-color: rgba(0,0,0,.6);
  z-index: 5;
}

.navBox {
  @extend .flex;
  width: 100%;
  max-width: 1024px;
  margin: auto;
  color: white;
}

.nav1 {
  @extend .flex;
  width: 100%;
  height: 50px;
  margin: auto;
  .nav1Text {
    width: 100%;
    margin: auto;
    padding-left: 2%;
    @include responsive-font(2vw, 25px, 25px, 25px);
    text-align: left;
  }
}

.section1Box {
  @extend .flex;
  margin-bottom: auto;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
}

.section1 {
  @extend .flex;
  @extend .section;
  height: auto;
  margin-bottom: auto;
  border: 0;
  text-align: justify;
}

// ----------------------------------------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------------


//MiniProject --------------------------------------------------------------------

.titleText {
  margin: 0;
  width: 100%;
  color: white;
  @include responsive-font(8vw, 35px, 100px, 50px);
  // text-shadow: 5px 5px 5px rgba(0,0,0,.2);
}

.bodyText {
  @extend .titleText;
  @extend .font2;
  @include responsive-font(2vw, 20px, 20px, 20px);
  padding-top: 10px;
}


//RESUME --------------------------------------------------------------------

.resumeBox {
  width: 100%;
  @extend .flex;
}

.letterBox {
  display: inline-block;
  position: relative;
  width: 80%;
  height: auto;
  margin: auto;
  z-index: 1;
  opacity: 1;
  background-color: white;
}

.letterBox::after {
  padding-top: 129.4%;
  /* 16:9 ratio */
  display: block;
  content: '';
}

.letter {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 2vw;
}

.letterContent {
  position: relative;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  width: 100%;
  padding-bottom: 0.8vw;
}

.four {
  position:relative;
  flex:0 0 25%;
}
.fourInner {
  width: calc(100% - 0.8vw);
  height: 100%;
  margin-left: 0.8vw;
  background-color: rgba(0, 0, 0, 0.08);
  // &:hover {
  //   @extend .transition1;
  //   box-shadow: 0.3vw 0.3vw 0.75vw $colorGradient2, -0.3vw -0.3vw 0.75vw $colorGradient1;
  // }
  // &:not(:hover){
  //   @extend .transition1;
  // }
}
.four:nth-of-type(1){
  .fourInner{
    width: 100%;
    margin-left: 0;
  }
}

.two {
  position:relative;
  flex:0 0 50%;
}
.twoInner {
  width: calc(100% - 0.8vw);
  height: 100%;
  margin-left: 0.8vw;
  background-color: rgba(0, 0, 0, 0.08);
  // &:hover {
  //   @extend .transition1;
  //   box-shadow: 0.3vw 0.3vw 0.75vw $colorGradient2, -0.3vw -0.3vw 0.75vw $colorGradient1;
  // }
  // &:not(:hover){
  //   @extend .transition1;
  // }
}
.two:nth-of-type(1){
  .twoInner{
    width: 100%;
    margin-left: 0;
  }
}

.one {
  position:relative;
  flex:0 0 100%;
}
.oneInner {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.08);
  // &:hover {
  //   @extend .transition1;
  //   box-shadow: 0.3vw 0.3vw 0.75vw $colorGradient2, -0.3vw -0.3vw 0.75vw $colorGradient1;
  // }
  // &:not(:hover){
  //   @extend .transition1;
  // }
}
.one:nth-of-type(1){
  .oneInner{
    width: 100%;
    margin-left: 0;
  }
}

.imageBox {
  @extend .flex;
  width: 100%;
}

.img {
  width: 100%;
  height: 100%;
}

.titleBox {
  @extend .flex;
  pointer-events: none;
  width: 100%;
  height: 3vw;
  background-color: rgba(0, 0, 0, 0.12);
  border: 2px black solid;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.titleContent {
  margin: auto;
  padding: 0.5vw;
  @extend .font1;
  pointer-events: none;
  @include responsive-font(1.4vw, 1px, 22px, 25px);
  text-align: center;
}
.contentBox {
  @extend .flex;
  width: 100%;
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
}
.contentContent {
  margin: auto;
  margin-left: 0;
  // width: 100%;
  // margin-top: 0px;
  padding: 0.5vw;
  padding-bottom: 0.3vw;
  padding-top: 0vw;
  @extend .font2;
  @include responsive-font(0.95vw, 1px, 12px, 12px);
  text-align: left;
}











// .flex-container {
//   width: 100%;
//   display:flex;
// }
// .row { display:flex; }
// .flex-item {
//   margin-left: 5px;
//   flex:0 0 calc(25% - 5px);
//   position:relative;
//   background-color: yellow;
// }
// .four { flex:0 0 25%; position:relative; }
// .fourImg { flex:0 0 25%; position:relative; }
// .flex-item img { display:block; max-width:100%; width:100%; height:auto; }
// .img { display:block; max-width:100%; width:100%; height:auto; }
// .flex-item-inner { position:absolute; top:0; left:0; right:0; bottom:0; overflow:hidden; }
// .backgroundEven { position:absolute; top:0; left:0; right:0; bottom:0; overflow:auto; }
// .flex-item-inner p:first-child { margin-top:0; }
