// Fonts --------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Ubuntu');

.font1{
  font-family: 'Ubuntu', sans-serif;
}
.font2 {
  font-family: 'Source Sans Pro', sans-serif;
}

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}


//Colors --------------------------------------------------------------------
.color1 {
  color: #311847;
}
$color1: #311847;

.color2 {
  color: #e93e43;
}
$color2: #e93e43;

// $colorGradient1: #EC4067;
// $colorGradient1: rgba(137,52,121,0.8);
$colorGradient1: rgba(134,11,180,0.8);
// $colorGradient2: #893479;
// $colorGradient2: rgba(236,64,103,0.8);
$colorGradient2: rgba(230,20,100,0.8);
// $colorGradient3: rgba(232,61,66,0.9);
.transition1{
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.transition2{
  transition: all 1s;
  -webkit-transition: all 1s;
}

// Body --------------------------------------------------------------------
body {
  @extend .font1;
  padding: 0;
  margin: 0;
  // background-color: red;
  font-size: 16px;
}
div {
  padding: 0;
  margin: 0;
}

// Background Image --------------------------------------------------------------------
.backgroundImage {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 1;
  z-index: -2;
  background-image: url("../images/richardCollageWide01.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

// Reusable General Stuff --------------------------------------------------------------------
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 90%;
  max-width: 1024px;
  // height: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 1px white solid;
}

// HomePage --------------------------------------------------------------------

.mainContainer {
  @extend .flex;
  width: 100%;
  // background-color: black;
  // background-color: rgba(128,0,128,0.4);
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, $colorGradient1 , $colorGradient2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $colorGradient1, $colorGradient2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $colorGradient1, $colorGradient2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, $colorGradient1 , $colorGradient2); /* Standard syntax */
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 50px;
}

.section0 {
  @extend.flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100px;
  background-color: rgba(0,0,0,.6);
  z-index: 5;
}

.navBox {
  @extend .flex;
  width: 100%;
  max-width: 1024px;
  margin: auto;
  color: white;
}

.nav1 {
  @extend .flex;
  width: 100%;
  height: 50px;
  margin: auto;
  .nav1Text {
    width: 100%;
    margin: auto;
    padding-left: 2%;
    @include responsive-font(2vw, 25px, 25px, 25px);
    text-align: left;
  }
}

.section1Box {
  @extend .flex;
  margin-bottom: auto;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
}

.section1 {
  @extend .flex;
  @extend .section;
  height: auto;
  margin-bottom: auto;
  border: 0;
  text-align: left;
}

// ----------------------------------------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------------


//MiniProject --------------------------------------------------------------------

.titleText {
  margin: 0;
  width: 100%;
  color: white;
  @include responsive-font(8vw, 35px, 100px, 50px);
  text-shadow: 5px 5px 5px rgba(0,0,0,.2);
}

.bodyText {
  @extend .titleText;
  @extend .font2;
  @include responsive-font(2vw, 20px, 25px, 20px);
  padding-top: 10px;
}
